# TDI 12-day program, Day 4: Pandas

Below are the questions and answers from day 4 of the 12-day program. Data are from the [New York City Value of Energy Cost Savings Program](https://data.cityofnewyork.us/City-Government/Value-of-Energy-Cost-Savings-Program-Savings-for-B/bug8-9f3g).

## Python script header

Begin by importing necessary modules (just Pandas for this script) and the data we will be parsing.

In [2]:
import pandas as pd

df = pd.read_csv(
        'Value_of_Energy_Cost_Savings_Program_Savings_for_Businesses_'
        '-_FY2020.csv')

## 1. How many different companies are represented in the data set?

In [3]:
num_companies = len(df['Company Name'].value_counts())
print(num_companies)

439

## 2. What is the total number of jobs created for businesses in Queens?

In [4]:
jobs_by_borough = df[['Borough', 'Job created']].groupby('Borough').sum()
print(jobs_by_borough.loc['Queens', 'Job created'])

102.0

## 3. How many different unique email domain names are there in the data set?

In [6]:
# Get email domains by splitting email strings 
# at '@' and taking the ending
domains = df['company email'].str.split('@', expand=True).iloc[:,1]
ndomains = domains.nunique(dropna=True)
print(ndomains)

356

## 4. Considering only NTAs with at least 5 listed businesses, what is the average total savings and the total jobs created for each NTA?

In [7]:
# First we determine NTAs with >=5 businesses
# and remove all other NTAs
nta_counts = df['NTA'].value_counts()
valid_NTAs = nta_counts[nta_counts >= 5].keys()
NTA_filtered = df.loc[df['NTA'].isin(valid_NTAs), ['NTA','Total Savings','Job created']]

# Get mean savings and total jobs created for each NTA
savings_by_NTA = NTA_filtered.groupby('NTA')['Total Savings'].mean()
jobs_by_NTA = NTA_filtered.groupby('NTA')['Job created'].sum()

# Combine into one data frame
savings_jobs_by_NTA = pd.concat([savings_by_NTA, jobs_by_NTA], axis=1)

# Rename the savings column to reflect that it's an average, not a total
savings_jobs_by_NTA = \
    savings_jobs_by_NTA.rename(columns={'Total Savings':'Average Savings'})
print(savings_jobs_by_NTA)

                                                  Average Savings  Job created
NTA
Battery Park City-Lower Manhattan                   469890.796667          0.0
Bushwick South                                       26140.455000         10.0
Carroll Gardens-Columbia Street-Red Hook             24337.390000          0.0
College Point                                        17159.372857          2.0
Crown Heights North                                   4036.298889          0.0
DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill     59950.340000          0.0
East New York                                        48433.093333         15.0
East Williamsburg                                    13990.626364          0.0
Greenpoint                                            9753.649286          0.0
Hunters Point-Sunnyside-West Maspeth                 23931.398933          0.0
Hunts Point                                          39246.016154         12.0
Manhattanville                                        2760.888889          0.0
Maspeth                                               6658.283333         10.0
Mott Haven-Port Morris                               17843.937857         10.0
Queensbridge-Ravenswood-Long Island City             61830.770625          0.0
SoHo-TriBeCa-Civic Center-Little Italy               37214.024000          0.0
Springfield Gardens South-Brookville                 17757.662000          0.0
Steinway                                             11227.155714         20.0
Sunset Park West                                     14316.976875          0.0
park-cemetery-etc-Brooklyn                           14327.419333          0.0

## 5. Save your result for the previous question as a CSV file.

In [8]:
savings_jobs_by_NTA.to_csv('ECSP_2020_savings_jobs_by_NTA.csv')